.skill {
    box-sizing: border-box;
    width: 250px;
    background-color: #d0c6c6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: #faf2f2;
}